flows.json
[{"id":"d5c13a96.2b9a48","type":"tab","label":"weather-bot","disabled":false,"info":""},{"id":"f5a63d2d.a4c56","type":"http in","z":"d5c13a96.2b9a48","name":"webhook","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":60,"y":140,"wires":[["fef64637.6a44a8","1d5b72d6.a4b97d"]]},{"id":"bb5bfaa.19f0008","type":"function","z":"d5c13a96.2b9a48","name":"get message text and user id","func":"if(msg.payload && msg.payload.message && msg.payload.message.from) {\n   msg.user_id = msg.payload.message.from.id; \n}\nif(msg.payload && msg.payload.message) {\n   msg.text = msg.payload.message.text; \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["adbc58c2.215be8","6caa03d.5905cfc"]]},{"id":"fef64637.6a44a8","type":"http response","z":"d5c13a96.2b9a48","name":"return status 200","statusCode":"200","headers":{},"x":330,"y":220,"wires":[]},{"id":"adbc58c2.215be8","type":"debug","z":"d5c13a96.2b9a48","name":"show messanger payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":20,"wires":[]},{"id":"9441a2f7.a17ee","type":"switch","z":"d5c13a96.2b9a48","name":"process text","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":80,"wires":[["ede23368.a40cd"],["20ff3eb0.031862"]]},{"id":"ede23368.a40cd","type":"function","z":"d5c13a96.2b9a48","name":"prepare greeting message","func":"msg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.user_id,\n  text: \"Put name of city which you are interested in\" ,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":40,"wires":[["d56df6.dd915208"]]},{"id":"d56df6.dd915208","type":"http request","z":"d5c13a96.2b9a48","name":"send greeting message","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":80,"wires":[[]]},{"id":"1d5b72d6.a4b97d","type":"function","z":"d5c13a96.2b9a48","name":"set environment","func":"msg.botToken = \"1446606761:AAFkTffFSYYVo9GEflG-Ul8yha6k6W64aCA\";\nmsg.weatherAPIkey = \"7851121ef109007fc5d1215dfcba8986\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":80,"wires":[["bb5bfaa.19f0008"]]},{"id":"6caa03d.5905cfc","type":"switch","z":"d5c13a96.2b9a48","name":"check user_id exists","property":"user_id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":80,"wires":[["9441a2f7.a17ee"]]},{"id":"20ff3eb0.031862","type":"function","z":"d5c13a96.2b9a48","name":"prepare to get weather","func":"msg.url = `https://api.openweathermap.org/data/2.5/weather?q=${msg.text}&appid=${msg.weatherAPIkey}`;\nmsg.method = \"GET\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":160,"wires":[["97f6a9c2.04e1a8"]]},{"id":"97f6a9c2.04e1a8","type":"http request","z":"d5c13a96.2b9a48","name":"get weather","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":160,"wires":[["a9cf3619.b9d988","6f098ac9.4cbfd4"]]},{"id":"a9cf3619.b9d988","type":"function","z":"d5c13a96.2b9a48","name":"get weather properties","func":"msg.weather = {}; \nif(msg.payload && msg.payload.weather) \n    msg.weather.description = msg.payload.weather.description;\nif(msg.payload && msg.payload.main) {\n    msg.weather.temp = msg.payload.main.temp;\n    msg.weather.feels_like = msg.payload.main.feels_like;\n    msg.weather.temp_min = msg.payload.main.temp_min;\n    msg.weather.temp_max = msg.payload.main.temp_max;\n}\nif(msg.payload)\n    msg.weather.visibility = msg.payload.visibility;\nif(msg.payload && msg.payload.wind)\n    msg.weather.windSpeed = msg.payload.wind.speed;\nif(msg.payload && msg.payload.sys) {\n    msg.weather.sunrise = msg.payload.sys.sunrise;\n    msg.weather.sunset = msg.payload.sys.sunset;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":160,"wires":[["2b2f30.b28230d"]]},{"id":"2b2f30.b28230d","type":"function","z":"d5c13a96.2b9a48","name":"form weather information list","func":"msg.weatherInformation = [];\nconst K = 273.15;\nif(msg.weather) {\n    if(msg.weather.description)\n        msg.weatherInformation.push(`The general description: ${msg.weather.description}`);\n    if(msg.weather.temp) {\n        msg.weatherInformation.push(`The temperature: ${Math.round((msg.weather.temp-K) * 100) / 100}ºC`);\n    }\n    if(msg.weather.feels_like) {\n        msg.weatherInformation.push(`The temperature feels like: ${Math.round((msg.weather.feels_like-K) * 100) / 100}ºC`);\n    }\n    if(msg.weather.temp_min) {\n        msg.weatherInformation.push(`The minimum temperature: ${Math.round((msg.weather.temp_min-K) * 100) / 100}ºC`);\n    }\n    if(msg.weather.temp_max) {\n        msg.weatherInformation.push(`The maximum temperature: ${Math.round((msg.weather.temp_max-K) * 100) / 100}ºC`);\n    }\n    if(msg.weather.visibility) {\n        msg.weatherInformation.push(`The visibility: ${msg.weather.visibility} meter`);\n    }\n    if(msg.weather.windSpeed) {\n        msg.weatherInformation.push(`The wind speed: ${msg.weather.windSpeed} meter/sec`);\n    }\n    if(msg.weather.sunrise) {\n        msg.weatherInformation.push(`The sunrise: ${new Date(msg.weather.sunrise * 1000).toUTCString()}`);\n    }\n    if(msg.weather.sunset) {\n        msg.weatherInformation.push(`The sunset: ${new Date(msg.weather.sunset * 1000).toUTCString()}`);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":160,"wires":[["9de381cd.3ccee"]]},{"id":"9de381cd.3ccee","type":"switch","z":"d5c13a96.2b9a48","name":"check weather information is not empty","property":"weatherInformation.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2200,"y":160,"wires":[["ac7fc223.17de4"],["31445d9a.4ef0d2"]]},{"id":"ac7fc223.17de4","type":"function","z":"d5c13a96.2b9a48","name":"preparation to send weather information","func":"msg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.user_id,\n  text: msg.weatherInformation.join(\"\\n\"),\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2580,"y":120,"wires":[["e6c246cf.720718"]]},{"id":"e6c246cf.720718","type":"http request","z":"d5c13a96.2b9a48","name":"send weather information","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2890,"y":120,"wires":[[]]},{"id":"6f098ac9.4cbfd4","type":"debug","z":"d5c13a96.2b9a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":280,"wires":[]},{"id":"31445d9a.4ef0d2","type":"function","z":"d5c13a96.2b9a48","name":"prepare unsuccess message","func":"msg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.user_id,\n  text: \"Sorry, we were not able to find the information about provided city :(\",\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":200,"wires":[["3044a67f.99302a"]]},{"id":"3044a67f.99302a","type":"http request","z":"d5c13a96.2b9a48","name":"send unsuccess message","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2890,"y":200,"wires":[[]]}]